header{
    background-color: #000000;
    color: rgb(247, 242, 242);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 43%;

}
body{
    margin: 0%;
    background-color: lightcoral;
  
}
.container{
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
}
.one{
    border: 2px solid black;
    height: 45vh;
    width: 40vw;
    padding-top: 30px;
    padding-left: 45px;
    margin-top: 20px;
    margin-left: 80px;

    transition-duration: 4s;
    transition-delay: 2s;
    transition-timing-function: ease;
}
.one:hover{
    background-color: skyblue;
    transform: rotate(70deg);
    border-image: 50%;
}
.two{
    border: 2px solid black;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 35px;
    margin-top: 20px;
    margin-left: 220px;
    height: 40vh;
    width: 30vw;

    transition-duration: 5s;
    transition-delay: 1s;
    transition-timing-function: ease;
}
.two:hover{
    background-color: rgb(130, 239, 130);
    height: 50vh;
    width: 33vw;
}
.three{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    height: 10vh;
    width: 40vw;
    padding-left: 20px;
    margin-top: 25px;
    margin-left: 30px;

    transition-duration: 3s;
    transition-delay: 0s;
}
.three:hover{
    transform: skew(45deg,45deg);
}
.four{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    height: 10vh;
    width: 40vw;
    padding-left: 20px;
    margin-top: 25px;
    margin-left: 76px;

    transition-duration: 3s;
    transition-delay: 0s;
    transition-timing-function: ease;  

}
.four:hover{
    color: rgb(162, 97, 223);
    font-size: xx-large;
    width: 50vw;
    padding-left: 10px;
    margin-left: 45px;

}
footer{
    background-color: #000000;
    color: rgb(247, 242, 242);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 47%;
    margin-top: 27px;
}
img:hover{
    border-radius: 45%;
}